h1, h2, h3, p, ul, ol, figcaption, blockquote {
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
    padding: 0 2rem;
}
h2, h3, p, ul, ol, figure {
    margin-bottom: 1rem;
}
p, ul, ol, figure {
    margin-top: 1rem;
}
li ul, li ol {
    margin-top: .5rem;
}
img, video {
    display: block;
    height: auto;
    margin: auto;
    max-width: 100%;
}
h1 {
    margin-bottom: 2rem;
}
h2, h3 {
    break-after: avoid;
    margin-top: 2rem;
}
h2 {
    line-height: 2rem;
    font-weight: 600;
    font-size: 1.84rem;
}
h3 {
    line-height: 1.5rem;
    font-weight: 700;
    font-size: 1.36rem;
}
figure, blockquote, p, li {
    break-inside: avoid;
}
figure {
    margin-left: 0;
    margin-right: 0;
}
li {
    margin: .5rem 0;
}
pre {
    background: #f6f8fa;
    margin: 0;
    overflow: auto;
    padding: 1rem 2rem;
    white-space: normal;
}
pre code, pre samp, pre kbd {
    display: block;
    margin: auto;
    max-width: 35rem;
    tab-size: 4;
    white-space: pre;
}
code, kbd, samp {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}
pre kbd::before {
    content: '$ '
}
:not(pre):not(h1):not(h2):not(h3) > code {
    background: #afb8c166;
    border-radius: .125rem;
    line-height: 1;
    padding: 0 .25rem;
    white-space: nowrap;
}
a {
    color: #0969da;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
q::before {
    content: '« '
}
q::after {
    content: ' »'
}
abbr {
    cursor: help;
    text-decoration: none;
}
table {
    border-spacing: 0;
    margin: auto;
}
tr:nth-child(odd) {
    background: #f6f8fa;
}
th, td {
    padding: 1rem;
}
tbody th {
    text-align: right;
}
mark {
    background: #ffe066;
    color: inherit;
}
blockquote {
    background: #f6f8fa;
    border-left: .5rem solid #d0d7de;
    box-sizing: border-box;
    font-style: italic;
    padding: 1rem 1.5rem 1rem 1rem;
}
footer a {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: max-content;
}
figcaption, footer {
    font-size: .74rem;
    font-style: normal;
    line-height: 1rem;
    margin-top: .5rem;
}
figcaption, .math {
    text-align: center;
}
hr {
    border: 0 solid #868e96;
    border-top-width: 1px;
    margin: calc(2rem - 1px) 0 2rem;
    padding: 0;
}
.windows {
    box-shadow: 0 0 0 1px #393939;
}
.pixel-grid {
    background: linear-gradient(to right, #dee2e6 1px, transparent 1px, transparent calc(100% - 1px), #dee2e6 calc(100% - 1px)),
        linear-gradient(to bottom, #dee2e6 1px, transparent 1px, transparent calc(100% - 1px), #dee2e6 calc(100% - 1px));
}
.pixel-grid svg {
    shape-rendering: crispEdges;
}
@media (prefers-color-scheme: dark) {
    a {
        color: #539bf5;
    }
    blockquote {
        border-color: #444c56;
    }
    blockquote, pre, tr:nth-child(odd) {
        background: #2d333b;
    }
    :not(pre):not(h1):not(h2):not(h3) > code {
        background: #636e7b66;
    }
    .pixel-grid {
        background: linear-gradient(to right, #444c56 1px, transparent 1px, transparent calc(100% - 1px), #444c56 calc(100% - 1px)),
        linear-gradient(to bottom, #444c56 1px, transparent 1px, transparent calc(100% - 1px), #444c56 calc(100% - 1px));
    }
}
