[class*=" string"] {
    color: #a31515;
}
[class*=" strong"] {
    font-weight: bold;
}
[class*=" comment"] {
    color: #008000;
}
[class*=" invalid"] {
    color: #cd3131;
}
[class*=" keyword"] {
    color: #0000ff;
}
[class*=" storage"] {
    color: #0000ff;
}
[class*=" emphasis"] {
    font-style: italic;
}
[class*=" variable"] {
    color: #001080;
}
[class*=" markup.bold"] {
    font-weight: bold;
    color: #000080;
}
[class*=" storage.type"] {
    color: #0000ff;
}
[class*=" support.type"] {
    color: #267f99;
}
[class*=" variable.css"] {
    color: #e50000;
}
[class*=" markup.italic"] {
    font-style: italic;
}
[class*=" meta.embedded"] {
    color: #000000ff;
}
[class*=" string.regexp"] {
    color: #811f3f;
}
[class*=" support.class"] {
    color: #267f99;
}
[class*=" variable.scss"] {
    color: #e50000;
}
[class*=" markup.changed"] {
    color: #0451a5;
}
[class*=" markup.deleted"] {
    color: #a31515;
}
[class*=" markup.heading"] {
    font-weight: bold;
    color: #800000;
}
[class*=" constant.regexp"] {
    color: #811f3f;
}
[class*=" entity.name.tag"] {
    color: #800000;
}
[class*=" keyword.control"] {
    color: #AF00DB;
}
[class*=" markup.inserted"] {
    color: #098658;
}
[class*=" storage.type.cs"] {
    color: #267f99;
}
[class*=" constant.numeric"] {
    color: #098658;
}
[class*=" entity.name.type"] {
    color: #267f99;
}
[class*=" keyword.operator"] {
    color: #000000;
}
[class*=" markup.underline"] {
    text-decoration: underline;
}
[class*=" meta.diff.header"] {
    color: #000080;
}
[class*=" storage.modifier"] {
    color: #0000ff;
}
[class*=" support.function"] {
    color: #795E26;
}
[class*=" support.variable"] {
    color: #001080;
}
[class*=" constant.language"] {
    color: #0000ff;
}
[class*=" entity.name.class"] {
    color: #267f99;
}
[class*=" entity.name.label"] {
    color: #000000;
}
[class*=" markup.inline.raw"] {
    color: #800000;
}
[class*=" meta.preprocessor"] {
    color: #0000ff;
}
[class*=" storage.type.java"] {
    color: #267f99;
}
[class*=" string.quoted.pug"] {
    color: #0000ff;
}
[class*=" variable.language"] {
    color: #0000ff;
}
[class*=" constant.character"] {
    color: #0000ff;
}
[class*=" keyword.other.unit"] {
    color: #098658;
}
[class*=" meta.type.new.expr"] {
    color: #267f99;
}
[class*=" keyword.other.using"] {
    color: #AF00DB;
}
[class*=" meta.type.cast.expr"] {
    color: #267f99;
}
[class*=" storage.type.groovy"] {
    color: #267f99;
}
[class*=" variable.other.less"] {
    color: #e50000;
}
[class*=" entity.name.function"] {
    color: #795E26;
}
[class*=" entity.name.operator"] {
    color: #AF00DB;
}
[class*=" entity.name.selector"] {
    color: #800000;
}
[class*=" entity.name.variable"] {
    color: #001080;
}
[class*=" keyword.operator.new"] {
    color: #0000ff;
}
[class*=" markup.strikethrough"] {
}
[class*=" storage.type.byte.go"] {
    color: #267f99;
}
[class*=" storage.type.rune.go"] {
    color: #267f99;
}
[class*=" string.unquoted.html"] {
    color: #0000ff;
}
[class*=" support.constant.dom"] {
    color: #267f99;
}
[class*=" constant.other.option"] {
    color: #0000ff;
}
[class*=" entity.name.namespace"] {
    color: #267f99;
}
[class*=" keyword.operator.cast"] {
    color: #0000ff;
}
[class*=" storage.type.error.go"] {
    color: #267f99;
}
[class*=" support.constant.json"] {
    color: #267f99;
}
[class*=" support.constant.math"] {
    color: #267f99;
}
[class*=" entity.other.attribute"] {
    color: #267f99;
}
[class*=" keyword.other.operator"] {
    color: #AF00DB;
}
[class*=" meta.embedded.assembly"] {
    color: #a31515;
}
[class*=" source.coffee.embedded"] {
    color: #e50000;
}
[class*=" source.groovy.embedded"] {
    color: #000000ff;
}
[class*=" storage.type.string.go"] {
    color: #267f99;
}
[class*=" support.constant.color"] {
    color: #0451a5;
}
[class*=" support.constant.media"] {
    color: #0451a5;
}
[class*=" constant.sha.git-rebase"] {
    color: #098658;
}
[class*=" keyword.operator.sizeof"] {
    color: #0000ff;
}
[class*=" keyword.operator.typeid"] {
    color: #0000ff;
}
[class*=" meta.object-literal.key"] {
    color: #001080;
}
[class*=" storage.type.boolean.go"] {
    color: #267f99;
}
[class*=" storage.type.generic.cs"] {
    color: #267f99;
}
[class*=" storage.type.numeric.go"] {
    color: #267f99;
}
[class*=" storage.type.token.java"] {
    color: #267f99;
}
[class*=" storage.type.uintptr.go"] {
    color: #267f99;
}
[class*=" string.interpolated.pug"] {
    color: #0000ff;
}
[class*=" variable.other.constant"] {
    color: #0070C1;
}
[class*=" constant.other.rgb-value"] {
    color: #0451a5;
}
[class*=" keyword.operator.alignas"] {
    color: #0000ff;
}
[class*=" keyword.operator.alignof"] {
    color: #0000ff;
}
[class*=" meta.preprocessor.string"] {
    color: #a31515;
}
[class*=" meta.template.expression"] {
    color: #000000;
}
[class*=" storage.type.modifier.cs"] {
    color: #267f99;
}
[class*=" storage.type.variable.cs"] {
    color: #267f99;
}
[class*=" string.quoted.double.xml"] {
    color: #0000ff;
}
[class*=" string.quoted.single.xml"] {
    color: #0000ff;
}
[class*=" constant.character.escape"] {
    color: #EE0000;
}
[class*=" keyword.operator.noexcept"] {
    color: #0000ff;
}
[class*=" keyword.operator.wordlike"] {
    color: #0000ff;
}
[class*=" meta.preprocessor.numeric"] {
    color: #098658;
}
[class*=" storage.type.generic.java"] {
    color: #267f99;
}
[class*=" string.quoted.double.html"] {
    color: #0000ff;
}
[class*=" string.quoted.single.html"] {
    color: #0000ff;
}
[class*=" string.quoted.single.yaml"] {
    color: #0000ff;
}
[class*=" string.unquoted.cdata.xml"] {
    color: #0000ff;
}
[class*=" variable.other.enummember"] {
    color: #0070C1;
}
[class*=" constant.other.placeholder"] {
    color: #001080;
}
[class*=" keyword.operator.or.regexp"] {
    color: #EE0000;
}
[class*=" punctuation.definition.tag"] {
    color: #800000;
}
[class*=" string.unquoted.block.yaml"] {
    color: #0000ff;
}
[class*=" support.constant.font-name"] {
    color: #0451a5;
}
[class*=" support.type.property-name"] {
    color: #e50000;
}
[class*=" entity.other.attribute-name"] {
    color: #e50000;
}
[class*=" keyword.operator.expression"] {
    color: #0000ff;
}
[class*=" keyword.operator.instanceof"] {
    color: #0000ff;
}
[class*=" storage.type.generic.groovy"] {
    color: #267f99;
}
[class*=" storage.type.primitive.java"] {
    color: #267f99;
}
[class*=" support.constant.handlebars"] {
    color: #795E26;
}
[class*=" support.constant.media-type"] {
    color: #0451a5;
}
[class*=" support.function.git-rebase"] {
    color: #0451a5;
}
[class*=" entity.name.scope-resolution"] {
    color: #267f99;
}
[class*=" entity.other.inherited-class"] {
    color: #267f99;
}
[class*=" punctuation.section.embedded"] {
    color: #0000ff;
}
[class*=" storage.modifier.import.java"] {
    color: #000000;
}
[class*=" storage.type.annotation.java"] {
    color: #267f99;
}
[class*=" constant.character.set.regexp"] {
    color: #811f3f;
}
[class*=" keyword.control.anchor.regexp"] {
    color: #EE0000;
}
[class*=" keyword.other.directive.using"] {
    color: #AF00DB;
}
[class*=" meta.definition.variable.name"] {
    color: #001080;
}
[class*=" storage.modifier.package.java"] {
    color: #000000;
}
[class*=" storage.type.primitive.groovy"] {
    color: #267f99;
}
[class*=" string.unquoted.plain.in.yaml"] {
    color: #0000ff;
}
[class*=" constant.other.color.rgb-value"] {
    color: #0451a5;
}
[class*=" keyword.operator.plus.exponent"] {
    color: #098658;
}
[class*=" storage.type.annotation.groovy"] {
    color: #267f99;
}
[class*=" storage.type.object.array.java"] {
    color: #267f99;
}
[class*=" storage.type.parameters.groovy"] {
    color: #267f99;
}
[class*=" string.unquoted.plain.out.yaml"] {
    color: #0000ff;
}
[class*=" variable.legacy.builtin.python"] {
    color: #000000ff;
}
[class*=" keyword.operator.logical.python"] {
    color: #0000ff;
}
[class*=" keyword.operator.minus.exponent"] {
    color: #098658;
}
[class*=" source.cpp"] [class*=" keyword.operator.new"] {
    color: #AF00DB;
}
[class*=" string.quoted.double.handlebars"] {
    color: #0000ff;
}
[class*=" string.quoted.single.handlebars"] {
    color: #0000ff;
}
[class*=" support.constant.property-value"] {
    color: #0451a5;
}
[class*=" support.type.property-name.json"] {
    color: #0451a5;
}
[class*=" variable.language.wildcard.java"] {
    color: #000000;
}
[class*=" entity.other.attribute-name.scss"] {
    color: #800000;
}
[class*=" keyword.operator.negation.regexp"] {
    color: #d16969;
}
[class*=" storage.type.object.array.groovy"] {
    color: #267f99;
}
[class*=" support.other.parenthesis.regexp"] {
    color: #d16969;
}
[class*=" entity.name.function.preprocessor"] {
    color: #0000ff;
}
[class*=" storage.type.primitive.array.java"] {
    color: #267f99;
}
[class*=" string"] [class*=" meta.image.inline.markdown"] {
    color: #000000ff;
}
[class*=" string.comment.buffered.block.pug"] {
    color: #0000ff;
}
[class*=" entity.other.attribute-name.id.css"] {
    color: #800000;
}
[class*=" keyword.operator.quantifier.regexp"] {
    color: #000000;
}
[class*=" source.cpp"] [class*=" keyword.operator.delete"] {
    color: #AF00DB;
}
[class*=" entity.name.operator.custom-literal"] {
    color: #795E26;
}
[class*=" punctuation.definition.group.regexp"] {
    color: #d16969;
}
[class*=" storage.type.primitive.array.groovy"] {
    color: #267f99;
}
[class*=" support.type.vendored.property-name"] {
    color: #e50000;
}
[class*=" meta.structure.dictionary.key.python"] {
    color: #0451a5;
}
[class*=" punctuation.character.set.end.regexp"] {
    color: #d16969;
}
[class*=" punctuation.section.embedded.end.php"] {
    color: #800000;
}
[class*=" constant.other.character-class.regexp"] {
    color: #811f3f;
}
[class*=" entity.other.attribute-name.class.css"] {
    color: #800000;
}
[class*=" punctuation.character.set.begin.regexp"] {
    color: #d16969;
}
[class*=" punctuation.section.embedded.begin.php"] {
    color: #800000;
}
[class*=" source.powershell"] [class*=" variable.other.member"] {
    color: #795E26;
}
[class*=" constant.character.character-class.regexp"] {
    color: #811f3f;
}
[class*=" constant.other.character-class.set.regexp"] {
    color: #811f3f;
}
[class*=" punctuation.definition.list.begin.markdown"] {
    color: #0451a5;
}
[class*=" entity.other.attribute-name.class.mixin.css"] {
    color: #800000;
}
[class*=" punctuation.definition.quote.begin.markdown"] {
    color: #0451a5;
}
[class*=" entity.other.attribute-name.pseudo-class.css"] {
    color: #800000;
}
[class*=" punctuation.definition.character-class.regexp"] {
    color: #d16969;
}
[class*=" punctuation.definition.group.assertion.regexp"] {
    color: #d16969;
}
[class*=" entity.other.attribute-name.pseudo-element.css"] {
    color: #800000;
}
[class*=" punctuation.definition.template-expression.end"] {
    color: #0000ff;
}
[class*=" source.css.less"] [class*=" entity.other.attribute-name.id"] {
    color: #800000;
}
[class*=" entity.other.attribute-name.parent-selector.css"] {
    color: #800000;
}
[class*=" punctuation.definition.template-expression.begin"] {
    color: #0000ff;
}
@media (prefers-color-scheme: dark) {
    [class*=" header"] {
        color: #000080;
}
    [class*=" string"] {
        color: #ce9178;
}
    [class*=" strong"] {
        font-weight: bold;
}
    [class*=" comment"] {
        color: #6A9955;
}
    [class*=" invalid"] {
        color: #f44747;
}
    [class*=" keyword"] {
        color: #569cd6;
}
    [class*=" storage"] {
        color: #569cd6;
}
    [class*=" emphasis"] {
        font-style: italic;
}
    [class*=" variable"] {
        color: #9CDCFE;
}
    [class*=" string.tag"] {
        color: #ce9178;
}
    [class*=" markup.bold"] {
        font-weight: bold;
        color: #569cd6;
}
    [class*=" storage.type"] {
        color: #569cd6;
}
    [class*=" string.value"] {
        color: #ce9178;
}
    [class*=" support.type"] {
        color: #4EC9B0;
}
    [class*=" variable.css"] {
        color: #9cdcfe;
}
    [class*=" markup.italic"] {
        font-style: italic;
}
    [class*=" meta.embedded"] {
        color: #D4D4D4;
}
    [class*=" string.regexp"] {
        color: #d16969;
}
    [class*=" support.class"] {
        color: #4EC9B0;
}
    [class*=" variable.scss"] {
        color: #9cdcfe;
}
    [class*=" markup.changed"] {
        color: #569cd6;
}
    [class*=" markup.deleted"] {
        color: #ce9178;
}
    [class*=" markup.heading"] {
        font-weight: bold;
        color: #569cd6;
}
    [class*=" constant.regexp"] {
        color: #646695;
}
    [class*=" entity.name.tag"] {
        color: #569cd6;
}
    [class*=" keyword.control"] {
        color: #C586C0;
}
    [class*=" markup.inserted"] {
        color: #b5cea8;
}
    [class*=" storage.type.cs"] {
        color: #4EC9B0;
}
    [class*=" constant.numeric"] {
        color: #b5cea8;
}
    [class*=" entity.name.type"] {
        color: #4EC9B0;
}
    [class*=" keyword.operator"] {
        color: #d4d4d4;
}
    [class*=" markup.underline"] {
        text-decoration: underline;
}
    [class*=" meta.diff.header"] {
        color: #569cd6;
}
    [class*=" storage.modifier"] {
        color: #569cd6;
}
    [class*=" support.function"] {
        color: #DCDCAA;
}
    [class*=" support.variable"] {
        color: #9CDCFE;
}
    [class*=" constant.language"] {
        color: #569cd6;
}
    [class*=" entity.name.class"] {
        color: #4EC9B0;
}
    [class*=" entity.name.label"] {
        color: #C8C8C8;
}
    [class*=" markup.inline.raw"] {
        color: #ce9178;
}
    [class*=" meta.preprocessor"] {
        color: #569cd6;
}
    [class*=" storage.type.java"] {
        color: #4EC9B0;
}
    [class*=" variable.language"] {
        color: #569cd6;
}
    [class*=" constant.character"] {
        color: #569cd6;
}
    [class*=" keyword.other.unit"] {
        color: #b5cea8;
}
    [class*=" meta.type.new.expr"] {
        color: #4EC9B0;
}
    [class*=" entity.name.tag.css"] {
        color: #d7ba7d;
}
    [class*=" keyword.other.using"] {
        color: #C586C0;
}
    [class*=" meta.type.cast.expr"] {
        color: #4EC9B0;
}
    [class*=" storage.type.groovy"] {
        color: #4EC9B0;
}
    [class*=" variable.other.less"] {
        color: #9cdcfe;
}
    [class*=" entity.name.function"] {
        color: #DCDCAA;
}
    [class*=" entity.name.operator"] {
        color: #C586C0;
}
    [class*=" entity.name.variable"] {
        color: #9CDCFE;
}
    [class*=" keyword.operator.new"] {
        color: #569cd6;
}
    [class*=" markup.strikethrough"] {
}
    [class*=" storage.type.byte.go"] {
        color: #4EC9B0;
}
    [class*=" storage.type.rune.go"] {
        color: #4EC9B0;
}
    [class*=" support.constant.dom"] {
        color: #4EC9B0;
}
    [class*=" constant.other.option"] {
        color: #569cd6;
}
    [class*=" entity.name.namespace"] {
        color: #4EC9B0;
}
    [class*=" keyword.operator.cast"] {
        color: #569cd6;
}
    [class*=" storage.type.error.go"] {
        color: #4EC9B0;
}
    [class*=" support.constant.json"] {
        color: #4EC9B0;
}
    [class*=" support.constant.math"] {
        color: #4EC9B0;
}
    [class*=" entity.other.attribute"] {
        color: #4EC9B0;
}
    [class*=" keyword.other.operator"] {
        color: #C586C0;
}
    [class*=" meta.embedded.assembly"] {
        color: #ce9178;
}
    [class*=" source.coffee.embedded"] {
        color: #9cdcfe;
}
    [class*=" source.groovy.embedded"] {
        color: #D4D4D4;
}
    [class*=" storage.type.string.go"] {
        color: #4EC9B0;
}
    [class*=" support.constant.color"] {
        color: #CE9178;
}
    [class*=" support.constant.media"] {
        color: #CE9178;
}
    [class*=" constant.sha.git-rebase"] {
        color: #b5cea8;
}
    [class*=" keyword.operator.delete"] {
        color: #C586C0;
}
    [class*=" keyword.operator.sizeof"] {
        color: #569cd6;
}
    [class*=" keyword.operator.typeid"] {
        color: #569cd6;
}
    [class*=" meta.object-literal.key"] {
        color: #9CDCFE;
}
    [class*=" storage.type.boolean.go"] {
        color: #4EC9B0;
}
    [class*=" storage.type.generic.cs"] {
        color: #4EC9B0;
}
    [class*=" storage.type.numeric.go"] {
        color: #4EC9B0;
}
    [class*=" storage.type.token.java"] {
        color: #4EC9B0;
}
    [class*=" storage.type.uintptr.go"] {
        color: #4EC9B0;
}
    [class*=" variable.other.constant"] {
        color: #4FC1FF;
}
    [class*=" constant.other.rgb-value"] {
        color: #CE9178;
}
    [class*=" keyword.operator.alignas"] {
        color: #569cd6;
}
    [class*=" keyword.operator.alignof"] {
        color: #569cd6;
}
    [class*=" meta.preprocessor.string"] {
        color: #ce9178;
}
    [class*=" meta.template.expression"] {
        color: #d4d4d4;
}
    [class*=" storage.type.modifier.cs"] {
        color: #4EC9B0;
}
    [class*=" storage.type.variable.cs"] {
        color: #4EC9B0;
}
    [class*=" constant.character.escape"] {
        color: #d7ba7d;
}
    [class*=" keyword.operator.noexcept"] {
        color: #569cd6;
}
    [class*=" keyword.operator.wordlike"] {
        color: #569cd6;
}
    [class*=" meta.preprocessor.numeric"] {
        color: #b5cea8;
}
    [class*=" storage.type.generic.java"] {
        color: #4EC9B0;
}
    [class*=" variable.other.enummember"] {
        color: #4FC1FF;
}
    [class*=" constant.other.placeholder"] {
        color: #9CDCFE;
}
    [class*=" keyword.operator.or.regexp"] {
        color: #DCDCAA;
}
    [class*=" punctuation.definition.tag"] {
        color: #808080;
}
    [class*=" support.constant.font-name"] {
        color: #CE9178;
}
    [class*=" support.type.property-name"] {
        color: #9cdcfe;
}
    [class*=" entity.other.attribute-name"] {
        color: #9cdcfe;
}
    [class*=" keyword.operator.expression"] {
        color: #569cd6;
}
    [class*=" keyword.operator.instanceof"] {
        color: #569cd6;
}
    [class*=" storage.type.generic.groovy"] {
        color: #4EC9B0;
}
    [class*=" storage.type.primitive.java"] {
        color: #4EC9B0;
}
    [class*=" support.constant.handlebars"] {
        color: #DCDCAA;
}
    [class*=" support.constant.media-type"] {
        color: #CE9178;
}
    [class*=" support.function.git-rebase"] {
        color: #9cdcfe;
}
    [class*=" entity.name.scope-resolution"] {
        color: #4EC9B0;
}
    [class*=" entity.other.inherited-class"] {
        color: #4EC9B0;
}
    [class*=" punctuation.section.embedded"] {
        color: #569cd6;
}
    [class*=" storage.modifier.import.java"] {
        color: #d4d4d4;
}
    [class*=" storage.type.annotation.java"] {
        color: #4EC9B0;
}
    [class*=" constant.character.set.regexp"] {
        color: #d16969;
}
    [class*=" keyword.control.anchor.regexp"] {
        color: #DCDCAA;
}
    [class*=" keyword.other.directive.using"] {
        color: #C586C0;
}
    [class*=" meta.definition.variable.name"] {
        color: #9CDCFE;
}
    [class*=" storage.modifier.package.java"] {
        color: #d4d4d4;
}
    [class*=" storage.type.primitive.groovy"] {
        color: #4EC9B0;
}
    [class*=" constant.other.color.rgb-value"] {
        color: #CE9178;
}
    [class*=" keyword.operator.plus.exponent"] {
        color: #b5cea8;
}
    [class*=" storage.type.annotation.groovy"] {
        color: #4EC9B0;
}
    [class*=" storage.type.object.array.java"] {
        color: #4EC9B0;
}
    [class*=" storage.type.parameters.groovy"] {
        color: #4EC9B0;
}
    [class*=" variable.legacy.builtin.python"] {
        color: #D4D4D4;
}
    [class*=" keyword.operator.logical.python"] {
        color: #569cd6;
}
    [class*=" keyword.operator.minus.exponent"] {
        color: #b5cea8;
}
    [class*=" source.cpp"] [class*=" keyword.operator.new"] {
        color: #C586C0;
}
    [class*=" support.constant.property-value"] {
        color: #CE9178;
}
    [class*=" variable.language.wildcard.java"] {
        color: #d4d4d4;
}
    [class*=" entity.other.attribute-name.scss"] {
        color: #d7ba7d;
}
    [class*=" keyword.operator.negation.regexp"] {
        color: #CE9178;
}
    [class*=" storage.type.object.array.groovy"] {
        color: #4EC9B0;
}
    [class*=" support.other.parenthesis.regexp"] {
        color: #CE9178;
}
    [class*=" entity.name.function.preprocessor"] {
        color: #569cd6;
}
    [class*=" storage.type.primitive.array.java"] {
        color: #4EC9B0;
}
    [class*=" string"] [class*=" meta.image.inline.markdown"] {
        color: #D4D4D4;
}
    [class*=" entity.other.attribute-name.id.css"] {
        color: #d7ba7d;
}
    [class*=" keyword.operator.quantifier.regexp"] {
        color: #d7ba7d;
}
    [class*=" entity.name.operator.custom-literal"] {
        color: #DCDCAA;
}
    [class*=" punctuation.definition.group.regexp"] {
        color: #CE9178;
}
    [class*=" storage.type.primitive.array.groovy"] {
        color: #4EC9B0;
}
    [class*=" support.type.vendored.property-name"] {
        color: #9cdcfe;
}
    [class*=" meta.structure.dictionary.key.python"] {
        color: #9cdcfe;
}
    [class*=" punctuation.character.set.end.regexp"] {
        color: #CE9178;
}
    [class*=" punctuation.section.embedded.end.php"] {
        color: #569cd6;
}
    [class*=" constant.other.character-class.regexp"] {
        color: #d16969;
}
    [class*=" entity.other.attribute-name.class.css"] {
        color: #d7ba7d;
}
    [class*=" punctuation.character.set.begin.regexp"] {
        color: #CE9178;
}
    [class*=" punctuation.section.embedded.begin.php"] {
        color: #569cd6;
}
    [class*=" source.powershell"] [class*=" variable.other.member"] {
        color: #DCDCAA;
}
    [class*=" constant.character.character-class.regexp"] {
        color: #d16969;
}
    [class*=" constant.other.character-class.set.regexp"] {
        color: #d16969;
}
    [class*=" punctuation.definition.list.begin.markdown"] {
        color: #6796e6;
}
    [class*=" entity.other.attribute-name.class.mixin.css"] {
        color: #d7ba7d;
}
    [class*=" punctuation.definition.quote.begin.markdown"] {
        color: #6A9955;
}
    [class*=" entity.other.attribute-name.pseudo-class.css"] {
        color: #d7ba7d;
}
    [class*=" punctuation.definition.character-class.regexp"] {
        color: #CE9178;
}
    [class*=" punctuation.definition.group.assertion.regexp"] {
        color: #CE9178;
}
    [class*=" entity.other.attribute-name.pseudo-element.css"] {
        color: #d7ba7d;
}
    [class*=" punctuation.definition.template-expression.end"] {
        color: #569cd6;
}
    [class*=" source.css.less"] [class*=" entity.other.attribute-name.id"] {
        color: #d7ba7d;
}
    [class*=" entity.other.attribute-name.parent-selector.css"] {
        color: #d7ba7d;
}
    [class*=" punctuation.definition.template-expression.begin"] {
        color: #569cd6;
}
}
