html {
    font-size: calc(.6375rem + 1.75vw);
    scroll-behavior: smooth;
    scroll-padding-top: calc(.6375rem + 1.75vw);
}
@media (min-width: 35rem) {
    html {
        font-size: 1.25rem;
        scroll-padding-top: 1.25rem;
    }
}
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}
 body {
    background: #fff;
    color: #24292f;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    line-height: 1.5;
    margin: 4rem 0;
    overflow-y: scroll;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #22272e;
        color: #adbac7;
    }
}
@media print {
    body {
        background: none;
        margin-top: 0;
    }
}
@page {
    margin: 4rem 0;
}
h1 {
    line-height: 1;
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 0;
    text-wrap: balance;
}
a:focus {
    outline: .125rem solid;
    outline-offset: .125rem;
}
svg {
    pointer-events: none;
}
.svg_sizer {
    margin: auto;
    overflow: hidden;
}
.svg_sizer svg {
    display: block;
    fill: currentColor;
    height: 1px;
    overflow: visible;
    width: 100%;
}
